html, body {
	height: 100%;
	background: #212121;
    margin: 0;
}

nav {
	display: flex;
}

input {
	display: block;
}

#new-character{
	position: relative;
}

.nav-button {
	right: 10;
	border:none;
    background:#7f7f7f;
    color:#dcdcdc;
    border-radius: .5rem;
    cursor:pointer;
    margin:.5rem;
}

.plus-button {
	position: absolute;
	width: 50px;
	margin: 0 auto;
	top:50%;
	left: 50%;
	transform: translate(-50%,-50%);

}

#new-character-button {
	background: none;
	color: #dcdcdc;
	border: none;
}

