html, body {
	height: 100%;
	background: #212121;
    margin: 0;
}

nav {
	display: flex;
}

input {
	display: block;
}

label {
	margin-top: .5rem;
}

#new-character{
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.nav-button {
	right: 10;
	border:none;
    background:#7f7f7f;
    color:#dcdcdc;
    border-radius: .5rem;
    cursor:pointer;
    margin:.5rem;
}

#new-character-button {
	background: none;
	color: #dcdcdc;
	border: none;
}

